.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
cache.xml
/gradle
compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/runConfigurations.xml
StockAndroid.iml
app.iml
