.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
cache.xml
/gradle
compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/runConfigurations.xml
StockAndroid.iml
app.iml
*.iml
.idea/
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/BuildConfig.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$1$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$2.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$AgentResultCode.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$Game.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$Hwid.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$Pay.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$Push.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent$Sns.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/HMSAgent.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/R.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ActivityMgr.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ApiClientMgr$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ApiClientMgr$2.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ApiClientMgr$3.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ApiClientMgr$4.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ApiClientMgr.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/BaseAgentActivity.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/BaseApiAgent.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/CallbackCodeRunnable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/CallbackResultRunnable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/EmptyConnectCallback.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/HMSAgentActivity.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/HMSAgentLog$IHMSAgentLogCallback.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/HMSAgentLog.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/IActivityDestroyedCallback.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/IActivityPauseCallback.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/IActivityResumeCallback.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ICallbackCode.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ICallbackResult.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/IClientConnectCallback.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/INoProguard.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/IOUtils.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/StrUtils.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/ThreadUtil.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/common/handler/ConnectHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/FloatWindowApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/FloatWindowApi$ShowFloatWindowCallBack.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/FloatWindowApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/GameLoginSignUtil$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/GameLoginSignUtil.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/LoginApi$1$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/LoginApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/LoginApi$2.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/LoginApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/SavePlayerInfoApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/SavePlayerInfoApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/checksignutil/Base64Util.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/checksignutil/RSAUtil.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/handler/ICheckLoginSignHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/handler/LoginHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/game/handler/SaveInfoHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/CheckSignInApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/CheckSignInApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/HMSSignInAgentActivity.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/SignInApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/SignInApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/SignOutApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/SignOutApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/handler/SignInHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/hwid/handler/SignOutHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/GetPayOrderApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/GetPayOrderApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/GetProductDetailsApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/GetProductDetailsApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/HMSPMSPayAgentActivity.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/HMSPayAgentActivity.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/PayApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/PayApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/PaySignUtil.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/ProductPayApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/ProductPayApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/handler/GetOrderHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/handler/GetProductDetailsHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/handler/PayHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/pay/handler/ProductPayHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/DeleteTokenApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/DeleteTokenApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/EnableReceiveNormalMsgApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/EnableReceiveNormalMsgApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/EnableReceiveNotifyMsgApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/EnableReceiveNotifyMsgApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/GetPushStateApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/GetPushStateApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/GetTokenApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/GetTokenApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/QueryAgreementApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/QueryAgreementApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/handler/DeleteTokenHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/handler/EnableReceiveNormalMsgHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/handler/EnableReceiveNotifyMsgHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/handler/GetPushStateHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/handler/GetTokenHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/push/handler/QueryAgreementHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/sns/GetMsgSendIntentApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/sns/GetMsgSendIntentApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/sns/GetUiIntentApi$1.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/sns/GetUiIntentApi.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/sns/Handler/GetMsgSendIntentHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/agent/sns/Handler/GetUiIntentHandler.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/base/R.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/game/R.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/hwid/R.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/pay/R.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/push/R.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$color.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$dimen.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$drawable.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$id.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$layout.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$string.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R$style.class
hmsagents/build/intermediates/classes/debug/com/huawei/android/hms/sns/R.class
hmsagents/build/intermediates/incremental/debug-mergeJniLibs/merge-state
hmsagents/build/intermediates/incremental/mergeDebugAssets/merger.xml
hmsagents/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
hmsagents/build/intermediates/incremental/mergeDebugShaders/merger.xml
hmsagents/build/intermediates/intermediate-jars/debug/classes.jar
hmsagents/build/intermediates/intermediate-jars/debug/res.jar
hmsagents/build/intermediates/javaPrecompile/debug/annotationProcessors.json
hmsagents/build/intermediates/transforms/mergeJniLibs/debug/__content__.json
